.head {
    display: flex;
    width: 1920px;
    height: 104px;
    align-items: center;
    position: relative;
    border: 0px 0px 1px 0px;
    border-bottom: 1px solid #000000;
}
.title {
    font-size: 32px;
    width: 206px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
}
.body {
    width: 1920px;
    height: 976px;
}
.bodytitle {
    width: 83px;
    height: 38px;
    margin: 264px auto 0;
}
.log {
    display: flex;
    align-items: center;
    width: 392px;
    height: 211px;
    margin: 18px auto;
    position: relative;
}
.textemail {
    width: 39px;
    height: 18px;
    position: absolute;
    top: 40px; /*+9*/
    left: 18px;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}
.email {
    width: 355px;
    height: 33px;
    border-radius: 5px;
    position: absolute;
    top: 75px;
    left: 18px;
    gap: 0px;
}
.textpassword {
    width: 52px;
    height: 18px;
    position: absolute;
    top: 115px; /*+9*/
    left: 18px;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}
.password {
    width: 355px;
    height: 33px;
    border-radius: 5px;
    position: absolute;
    top: 150px;
    left: 18px;
}
.helper {
    font-size: 12px;
    color: red;
    width: 71px;
    height: 15px;
    position: absolute;
    top: 187px;
    left: 18px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
}
button {
    color: white;
    width: 355px;
    height: 33px;
    border: none;
    background-color: #aca0eb;
    border-radius: 5px;
    margin: 4px 782px;
}
.signup {
    text-align: center;
    width: 90px;
    height: 30px;
    position: absolute;
    width: 49px;
    height: 17px;
    margin: 12 935;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
}
